<!DOCTYPE html>
<html>
  <head>
    <title>Rails5CustomErrorWithSlackNotification</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
    <%= link_to 'About', welcome_about_path, class: 'btn btn-primary' %>
    <%= link_to 'Contact', welcome_contact_path, class: 'btn btn-primary' %>
    <%= yield %>
  </body>
</html>
